<!DOCTYPE html>
<head>
    <title>Survey</title>
    <span th:insert="home :: stylesheet"></span>
    <link rel="stylesheet" th:href="@{/css/question/show.css}" />
</head>
<body>
    <div class="container">
    <form method="POST" th:action="'/answer/' + ${question.id} + '/save'" th:object="${question}">
        <div>
            <h2 th:text="*{title}">Titolo</h2>
            <input type="hidden" name="qid" th:value="*{id}" />
        </div>
        <div>
            <p th:text="*{description}">Titolo</p>
        </div>
        <ul>
            <li th:each="option, stat: ${question.options}">
                <input name="choose" required
                    th:type="${question.multiple} ? 'checkbox' : 'radio'" 
                    th:value="${option.id}" />
                <span th:text="${option.text}">Testo</span>
            </li>
        </ul>
        <input type="submit" value="Avanti" />
    </form>
    </div>
    <span th:insert="home :: footer"></span>
    <script th:src="@{/js/question/show.js}"></script>
</body>
</html>