<!DOCTYPE html>
<head>
    <title>Questions</title>
    <span th:insert="home :: stylesheet"></span>
</head>
<body>
    <nav th:insert="home :: menu"></nav>
    <div class="container">
        <a th:href="@{/survey/new}" class="btn btn-success">Add</a>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            <tr th:each="survey: ${allSurveys}">
                <td th:text="${survey.id}">1</td>
                <td th:text="${survey.title}">Titolo</td>
                <td>
                    <a th:href="@{/survey/{id}/edit(id=${survey.id})}">Edit</a>
                </td>
            </tr>
        </table>
    </div>
    <span th:insert="home :: footer"></span>
</body>
</html>