<!DOCTYPE html>
<head>
    <title>Surveys</title>
    <span th:insert="home :: stylesheet"></span>
</head>
<body>
    <nav th:insert="home :: menu"></nav>
    <div class="container">
        <h3>Choose your survey</h3>
        <form method="POST" th:action="@{/survey/start}">
            <ul th:each="survey: ${surveys}">
                <li><input type="checkbox" name="sid" th:value="${survey.id}" /><span th:text="${survey.title}"></span></li>
            </ul>
            <input type="submit" value="Inizia" />
        </form>
    </div>
    <span th:insert="home :: footer"></span>
</body>
</html>