<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <span th:insert="home :: stylesheet"></span>
    </head>
    <body>
        <nav th:insert="home :: menu"></nav>
        <div class="container">
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div><label> Username : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Entra" class="btn btn-primary" /></div>
            </form>
        </div>
        <span th:insert="home :: footer"></span>
    </body>
</html>